"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](color_bg1)\
$os\
$username\
[](bg:color_fedora_blue fg:color_bg1)\
$directory\
[](fg:color_fedora_blue bg:color_fedora_dark_blue)\
$git_branch\
$git_status\
[](fg:color_fedora_dark_blue bg:color_gray)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
$nix_shell\
[](fg:color_gray)\
$line_break$character"""

palette = 'custom'

[palettes.custom]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_orange = '#d65d0e'
color_purple = '#8058ac'
color_fedora_blue = '#3c6eb4'
color_fedora_dark_blue = '#294172'
color_mauve = '#6272A4'
color_red = '#cc241d'
color_yellow = '#d79921'
color_gray = '#44475a'

[os]
disabled = false
style = "bg:color_bg1 fg:color_fg0"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "bg:color_bg1 fg:color_fg0"
style_root = "bg:color_bg1 fg:color_fg0"
format = '[ $user ]($style)'

[directory]
style = "fg:color_fg0 bg:color_fedora_blue"
format = "[ $path ]($style)"
truncation_length = 4
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:color_fedora_dark_blue"
format = '[[ $symbol $branch ](fg:color_fg0 bg:color_fedora_dark_blue)]($style)'

[git_status]
style = "bg:color_fedora_dark_blue"
format = '[[($all_status$ahead_behind )](fg:color_fg0 bg:color_fedora_dark_blue)]($style)'

[nodejs]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[c]
symbol = " "
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[rust]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[golang]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[php]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[java]
symbol = " "
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[kotlin]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[haskell]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[nix_shell]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $state $name ) ](fg:color_fg0 bg:color_gray)]($style)'

[python]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version $virtualenv) ](fg:color_fg0 bg:color_gray)]($style)'

[docker_context]
symbol = ""
style = "bg:color_bg3"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[\$](bold fg:green)'
error_symbol = '[x](bold fg:color_red)'
vimcmd_symbol = '[<](bold fg:green)'
vimcmd_replace_one_symbol = '[<](bold fg:color_purple)'
vimcmd_replace_symbol = '[<](bold fg:color_purple)'
vimcmd_visual_symbol = '[<](bold fg:color_yellow)'
