{{- if eq .chezmoi.hostname "fedora" -}}
{{-   include "fedora/starship.toml" -}}
{{- else if eq .chezmoi.hostname "pop-os" -}}
{{-   include "pop_os/starship.toml" -}}
{{- else if eq .chezmoi.hostname "macos" -}}
{{-   include "darwin/starship.toml" -}}
{{- end -}}
