"$schema" = 'https://starship.rs/config-schema.json'
format = """
[](color_bg1)\
$os\
$username\
[](bg:color_pop_dark_gray fg:color_bg1)\
$directory\
[](fg:color_pop_dark_gray bg:color_pop_green)\
$git_branch\
$git_status\
[](fg:color_pop_green bg:color_gray)\
$rust\
$golang\
$python\
$nix_shell\
[](fg:color_gray bg:#1d2230)\
\n$character"""

palette = 'custom'

[palettes.custom]
color_fg0 = '#fbf1c7'
color_fg1 = '#000000'
# color_bg1 = '#308f9c' # pop-os blue
# color_bg1 = '#7352C4' # purple
color_bg1 = '#328C75' # green
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_orange = '#d65d0e'
color_pop_green = '#38CFA5'
color_purple = '#8058ac'
color_mauve = '#6272A4'
color_red = '#cc241d'
color_yellow = '#d79921'
color_gray = '#44475a'
color_pop_dark_gray = '#564E4A'
color_pop_orange = '#FA9C05'

[os]
disabled = false
style = "bg:color_bg1 fg:color_fg0"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
Pop=""
NixOS = ""

[username]
show_always = true
style_user = "bg:color_bg1 fg:color_fg0"
style_root = "bg:color_bg1 fg:color_fg0"
format = '[ $user ]($style)'

[directory]
style = "fg:color_fg0 bg:color_pop_dark_gray"
format = "[ $path ]($style)"
truncation_length = 4
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:color_pop_green"
format = '[[ $symbol $branch ](fg:color_fg1 bg:color_pop_green)]($style)'

[git_status]
style = "bg:color_pop_green"
format = '[[($all_status$ahead_behind )](fg:color_fg1 bg:color_pop_green)]($style)'

[nodejs]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[c]
symbol = " "
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[rust]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[golang]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[php]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[java]
symbol = " "
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[kotlin]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[haskell]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_gray)]($style)'

[nix_shell]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $state $name ) ](fg:color_fg0 bg:color_gray)]($style)'

[python]
symbol = ""
style = "bg:color_gray"
format = '[[ $symbol( $version $virtualenv) ](fg:color_fg0 bg:color_gray)]($style)'

[docker_context]
symbol = ""
style = "bg:color_bg3"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[\$](bold fg:green)'
error_symbol = '[\$](bold fg:color_red)'
vimcmd_symbol = '[<](bold fg:green)'
vimcmd_replace_one_symbol = '[<](bold fg:color_purple)'
vimcmd_replace_symbol = '[<](bold fg:color_purple)'
vimcmd_visual_symbol = '[<](bold fg:color_yellow)'
